PORT=4001
NODE_ENV=development

# Docker network hosts
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# --- Cấu hình cho pgAdmin (Trình quản trị giao diện) ---
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=30d
CLIENT_URL=http://localhost:3000
LOG_LEVEL=debug

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

AI_PROVIDER=groq
GROQ_API_KEY=your_groq_api_key
GROQ_BASE_URL=https://api.groq.com
